{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        </div>
    </nav>
    <div class="content">
        <div class="container mt-3">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}